<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="imwi.milostory">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".view.Activity_Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Activity_Image"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.Activity_LogIn"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".view.Activity_AddImage"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.Activity_Profile"
            android:label="@string/app_name">

        </activity>

    </application>

</manifest>